/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'CreditCard';
    src: url('../fonts/CreditCard.eot'); /* IE9 Compat Modes */
    src: url('../fonts/CreditCard.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/CreditCard.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/CreditCard.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/CreditCard.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/CreditCard.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
    display: flex;
    flex-direction: row;
}

.left {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* the container determines the size of the card. */
.card-container {
    position: relative;
    width: 325px;
    height: 200px;
}

.show {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.card {
    overflow: hidden;
    position: absolute;
    font-family: "CreditCard", Arial, sans-serif;
    background: rgb(144,174,220);
    background: linear-gradient(313deg, rgba(144,174,220,1) 0%, rgba(88,131,194,1) 100%);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.back {
    background: rgb(144,174,220);
    background: linear-gradient(121deg, rgba(144,174,220,1) 0%, rgba(88,131,194,1) 100%);
}

.chip {
    background: rgb(245,215,141);
    background: linear-gradient(120deg, rgba(245,215,141,1) 0%, rgba(222,151,58,1) 100%);
    border-radius: 10px;
    width: 20%;
    height: 100%;
}

.bank {
    font-size: 3em;
}

.number {
    font-size: 1em;
}

.expiration {
    font-size: .8em;
}

.name {
    font-size: 1.8em;
}

.inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.magnetic {
    margin: -10%;
    margin-top: 3%;
    height: 25%;
    width: 150%;
    background-color: #000000;
}

.signature {
    height: 170%;
    width: 80%;

    background-color: #ffffff;
}

.cvv {
    font-family: Arial, sans-serif;
    font-size: 1em;
    height: 170%;
    width: 20%;
    background-color: #ffffff;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    margin-right: 5px;
}

label, input, select {
    margin-bottom: 5px;
}

input {
    border: 1px solid grey;
    border-radius: 3px;
}

#cvv {
    width: 50px;
}

@media only screen and (max-width: 600px) {
    body {
        flex-direction: column;
    }

    .left {
        width: 100vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .right {
        width: 100vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* actual mastercard icon
 *
 * see spec here: 
 *
 * https://brand.mastercard.com/brandcenter/mastercard-brand-mark.html
 *
*/

.mastercard-icon {
    display: inline-block;
    height: 1em;
    isolation: isolate;
    position: relative;
    line-height: 1em;
    vertical-align: middle;
    width: 1.611em;
}

.mastercard-icon::before,
.mastercard-icon::after {
    border-radius: .5em;
    content: "";
    display: inline-block;
    height: 1em;
    position: absolute;
    width: 1em;
}

.mastercard-icon::before {
    background-color: #eb001b;
    left: 0;
    top: 0;
}

.mastercard-icon::after {
    background-color: #f79e1b;
    mix-blend-mode: hard-light;
    right: 0;
    top: 0;
}
